@media(max-width:415px){
    .nav-items{
        display: none;
    }
    .main-screen{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

}
@media(min-width:1170px){
    .main-screen{
        width: auto;
    }

}
body{
    padding:0;
    margin: 0;
}
nav{
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .nav-items{
    list-style:none;
    margin-left: 15px;
}
nav .nav-items a{
    text-decoration: none;
    color: white;
}
.main-screen{
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid gray;
    padding: 50px;
  }
  .title{
    font-size: 20px;
    font-weight: bolder;
  }
  .breif{
    font-size: 18px;
    
  }
  .author{
    font-weight: bold;
    padding-top: 20px;
  }
  .center{
      text-align: center;
  }
  .center a{
      text-decoration: none;
  }